<div class="question-container">
	<%= @question.question %>
</div>



<textarea class="text" name="answer" form="usrform">Enter answer here...</textarea>
<form action="demo_form.asp" id="usrform">
  <input type="submit">
</form>
