<form action="/questions/new" id="usrform" method="post">
  <input type="text" name="title" placeholder="Title">
<!--    <input type="text" name="question" placeholder="Question"> -->
  <input type="submit">
</form>

<textarea placeholder="Question" class="text" name="answer" form="usrform"></textarea>

