
<h1>L O G I N</h1>
<div class="wrap">
  <form action='/sessions/new' method='post'>
    <input type="email" name="email" placeholder="email" required>
    <div class="bar">
      <i></i>
    </div>
    <input type="password" name="password" placeholder="password" required>
    <input class="button" type="submit" value="Sign in!">
  </form>
</div>

<% if @error %>
  <%= @error %>
<% end %>

