
<h1> L O G I N </h1>
<% if @error %>
  <%= @error %>
<% end %>

<div class="container">

  <form action='/sessions/new' method='post'>
    Email: <input type="email" name="email" placeholder="email">
    <div class="password">
    Password: <input type="password" name="password" placeholder="password"></div>
    <input class="password" type="submit" value="submit">
  </form>

</div>
