<<<<<<< HEAD
<div class="container">
  <h1>STACK OVAFLOW!</h1>
  <br>
  <a href='/sessions/new'>Sign In</a>
  <br><br>
  <a href='/users/new'>New User</a>
</div>
=======
<h1> H O M E </h1>
>>>>>>> 2ff44017c18372f414e4ed4114a4f4bd035d6709
