<h1> C R E A T E </h1>

<form action='/users/new' method='post'>
  First name<input type="text" name="first_name" placeholder="first name">
  Last name<input type="text" name="last_name" placeholder="last name">
  Email<input type="email" name="email" placeholder="email">
  Password<input type="password" name="password" placeholder="password">
  <input type="submit" value="submit">
</form>
