
<h1> C R E A T E </h1>

<div class="wrap">
<form action='/users/new' method='post'>
  <input type="text" name="name" placeholder="name" required>
    <div class="bar">
      <i></i>
    </div>
  <input type="email" name="email" placeholder="email" required>
    <div class="bar">
      <i></i>
    </div>
  <input type="password" name="password" placeholder="password" required>
  <input class="button" type="submit" value="Sign Up!">
</form>

</div>
