<<<<<<< HEAD

=======
>>>>>>> 2ff44017c18372f414e4ed4114a4f4bd035d6709
<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

<<<<<<< HEAD
  <title>"WELCOME TO STACK OVAFLOW"</title>
</head>
<body>
=======
  <title></title>
</head>
<body>
  <div class="layout">
    <a href="/">Home</a> |
    <% if session[:user_id] != nil %>
    <a href="/sessions/logout">Logout</a> |  <a href="/users">Profile</a>
    <% else %>
    <a href="/sessions">Login</a> |  <a href="/users/new">Register</a>
    <% end %>
  </div>
>>>>>>> 2ff44017c18372f414e4ed4114a4f4bd035d6709
  <%= yield %>
</body>
</html>
